// .wells {
//     position: relative;
// }
.upper_fotter {
    // padding-left: 0px;
    // padding-right: 0px;
    padding: 25px;
    font-size: 20px;
    font-weight: 400;
}

.card-img-top {
    float: left;
    font-family: 'Quicksand', sans-serif;
}

.logo {
    width: 250px;
}

.guest_name {
    position: relative;
}

.name {
    position: absolute;
    direction: rtl;
    right: 50px;
    font-size: 15px;
}

// .Header {
//     position: fixed;
// }