<div class="wells">
    <div class="upper_fotter">
        <div class="row">
            <div class="col-xs-4 col-lg-6 logo">
                <a class="app_logo" routerLink='/movies'>
                    <img src="assets/images/unnamed.gif" class="card-img-top" alt="" style="width: 90px; height: 35px;">CINEMA
                </a>
            </div>
            <!-- <div class="col-xs-2 col-lg-4"></div> -->
            <!-- <div class="search">
                <div id="custom-search-input">
                    <div class="input-group col-lg-12">
                        <input type="text" class="  search-query form-control" placeholder="Search for product" name="Search" [(ngModel)]="item" />
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="submit" (click)="SearchProduct()">
                                <span><i class="fas fa-search"></i></span>
                        </button>
                        </span>
                    </div>
                </div>
            </div> -->
            <!-- </div> -->

            <div class="col-xs-8 col-lg-6 guest_name">
                <span class="name"> Welcome Guest </span>
            </div>
        </div>
    </div>

    <div class="down_fotter">

    </div>
</div>

<!-- <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Your Movie
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-5">
                <form #addMovie="ngForm">
                    <div class="form-group">
                        <label for="Title">Title</label>
                        <input [(ngModel)]="addedMovie.Title" name="Title" type="text" class="form-control" id="Title" required #Title="ngModel">
                        <div *ngIf="Title.invalid && (Title.dirty || Title.touched)" class="alert alert-danger">
                            <div *ngIf="Title.errors.required">
                                Title is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Year">Year</label>
                        <input [(ngModel)]="addedMovie.Year" name="Year" type="Year" class="form-control" id="Year" required #Year="ngModel">
                        <div *ngIf="Year.invalid && (Year.dirty || Year.touched)" class="alert alert-danger">
                            <div *ngIf="Year.errors.required">
                                Year not in right format.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Runtime">Runtime</label>
                        <input [(ngModel)]="addedMovie.Runtime" name="Runtime" type="Runtime" class="form-control" id="Runtime" required #Runtime="ngModel">
                        <div *ngIf="Runtime.invalid && (Runtime.dirty || Runtime.touched)" class="alert alert-danger">
                            <div *ngIf="Runtime.errors.required">
                                Runtime is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Genre">Genre</label>
                        <input [(ngModel)]="addedMovie.Genre" name="Genre" type="Genre" class="form-control" id="Genre" required #Genre="ngModel">
                        <div *ngIf="Genre.invalid && (Genre.dirty || Genre.touched)" class="alert alert-danger">
                            <div *ngIf="Genre.errors.required">
                                Genre is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Director">Director</label>
                        <input [(ngModel)]="addedMovie.Director" name="Director" type="Director" class="form-control" id="Director" required #Director="ngModel">
                        <div *ngIf="Director.invalid && (Director.dirty || Director.touched)" class="alert alert-danger">
                            <div *ngIf="Director.errors.required">
                                Director is required.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="!addMovie.form.valid" (click)="addSubmition()" type="submit" class="btn btn-bwm">Save</button>
                        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template> -->