<div class="main_comp">

    <div class="list_movies scroll">
        <div class="container">
            <div *ngIf="_Favoriteslist.length == 0  || _Favoriteslist == undefined" class="alert alert-danger">
                THERE IS NO MOVIES CHOOSEN AS FAVORITES YET.
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-3 col-xs-12 allmovies" *ngFor="let Favorite of _Favoriteslist;let i=index">
                    <div class="card-deck">
                        <div [ngClass]="{'card': !Variables.isMobile ,'': Variables.isMobile}">
                            <div class="cardPic">
                                <div class="favorites" (click)='removeFavorite(Favorite.imdbID)'>
                                    <i class="fas fa-heart"></i>
                                </div>
                                <img class="moviePoster" src="{{Favorite.Poster}}" class="card-img-top" alt="" style="width: 100%; height: 250px;">
                            </div>

                            <div class="card-body">
                                <div class="movie-title">
                                    <h5 class="card-title">{{Favorite.Title | title}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>