<div class="row card-body bg-light middle_fotter">
    <div class="col-md-4 col-xs-2 col-lg-4 addbutton">
        <div>
            <button (click)="addMovie(content)" class="btn btn-primary nav_buttons Administrator">Add Movie</button>
        </div>
    </div>
    <div class="col-md-4 col-xs-5 col-lg-4 search">
        <div id="custom-search-input">
            <div class="input-group">
                <input type="Search" class="search-query form-control" placeholder="Search for movie" name="Search" [(ngModel)]="item" />
                <span class="input-group-btn">
                  <button class="btn btn-warning" type="submit" (click)="searchMovie()">
                      <span><i class="fas fa-search"></i></span>
                </button>
                </span>
                <div *ngIf="!validatSearch" class="alert alert-danger searchAlert">
                    There is to many results please specify your search.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-2 col-lg-4 addbutton">
        <div class="favorites-btn">
            <!-- <button *ngIf="variables.backToMain == true" (click)="favorites()" class=""> -->
            <button type="button" class="favoritesCounter btn btn-light" *ngIf="variables.backToMain == true" (click)="favorites()">
                <span class="p1" data-count="">
                              <!--     <i class="p2 fa fa-circle fa-stack-2x"></i> -->
                                  <i class="p3 far fa-heart" data-count=""></i>
                                  <i class="favorites_quantity">{{_FavoritesNumber}}</i>
                                </span>
            </button>
            <!-- </button> -->
            <!-- <button *ngIf="variables.backToMain == true" (click)="favorites()" class="btn btn-primary">Favorites</button> -->
            <button *ngIf="variables.backToMain == false" (click)="backToMainPage()" class="btn btn-primary">Back To Main</button>
        </div>
    </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header add_edit_modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Your Movie:
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form #addMovie="ngForm">
                    <div class="form-group">
                        <label for="Title">Title</label>
                        <input [(ngModel)]="pickedMovie.Title" name="Title" type="text" class="form-control" id="Title" required #Title="ngModel">
                        <div *ngIf="Title.invalid && (Title.dirty || Title.touched)" class="alert alert-danger">
                            <div *ngIf="Title.errors.required">
                                Title is required.
                            </div>
                        </div>
                        <div *ngIf="MovieService.titleError" class="alert alert-danger">
                            There is already a movie with that Title.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Year">Year</label>
                        <input [(ngModel)]="pickedMovie.Year" name="Year" type="Year" class="form-control" id="Year" required #Year="ngModel">
                        <div *ngIf="Year.invalid && (Year.dirty || Year.touched)" class="alert alert-danger">
                            <div *ngIf="Year.errors.required" class="alert alert-danger">
                                Year is required.
                            </div>
                        </div>
                        <div *ngIf="!MovieService.validateYear" class="alert alert-danger">
                            Year is not in right format 'YYYY'.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Runtime">Runtime</label>
                        <input [(ngModel)]="pickedMovie.Runtime" name="Runtime" type="Runtime" class="form-control" id="Runtime" required #Runtime="ngModel">
                        <div *ngIf="Runtime.invalid && (Runtime.dirty || Runtime.touched)" class="alert alert-danger">
                            <div *ngIf="Runtime.errors.required">
                                Runtime is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Genre">Genre</label>
                        <input [(ngModel)]="pickedMovie.Genre" name="Genre" type="Genre" class="form-control" id="Genre" required #Genre="ngModel">
                        <div *ngIf="Genre.invalid && (Genre.dirty || Genre.touched)" class="alert alert-danger">
                            <div *ngIf="Genre.errors.required">
                                Genre is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Director">Director</label>
                        <input [(ngModel)]="pickedMovie.Director" name="Director" type="Director" class="form-control" id="Director" required #Director="ngModel">
                        <div *ngIf="Director.invalid && (Director.dirty || Director.touched)" class="alert alert-danger">
                            <div *ngIf="Director.errors.required">
                                Director is required.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="!addMovie.form.valid" (click)="addSubmition()" type="button" class="btn btn-success">Add Movie</button>
                        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>