.addbutton {
    width: 120px;
    padding-right: 0px;
    // margin-right: 10px;
}

.search {
    width: 180px;
    // padding-left: 0px;
    padding-right: 0px;
}

#custom-search-input .input-group {
    margin: 0;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 5px;
    padding-right: 9px \9;
    padding-left: 20px;
    padding-left: 20px \9;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 25px 25px 25px 25px;
    border-right: 0px;
}

#custom-search-input[_ngcontent-c0] button[_ngcontent-c0] {
    border: 1px solid #ced4da;
    background: none;
    margin-top: px;
    padding-top: 7px;
    position: relative;
    margin-bottom: 0;
    color: #D9230F;
    border-left: 0;
    border-radius: 0px 20px 20px 0px;
}

.search-query {
    padding-left: 10px !important;
    font-size: 14px;
}

.search-query:focus+button {
    z-index: 3;
}

.middle_fotter {
    position: sticky;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #83282a !important;
}