<div class="wells">
    <div class="upper_fotter">
        <div class="row">
            <div class="col-xs-4 col-lg-6 logo">
                <a class="app_logo" routerLink='/movies'>
                    <img src="assets/images/24806.png" class="card-img-top" alt="" style="width: 90px; height: 35px;">CINEMA
                </a>
            </div>
            <div class="favoritesCounter">
                <span class="p1" data-count="">
                      <!--     <i class="p2 fa fa-circle fa-stack-2x"></i> -->
                          <i class="far fa-heart" data-count=""></i>
                          <i class="favorites_quantity"></i>
                        </span>

            </div>
            <div class="col-xs-8 col-lg-6 guest_name">
                <p class="Name">Welcome Guest</p>
            </div>
        </div>
    </div>

    <div class="down_fotter">

    </div>
</div>