.upper_fotter {
    padding: 25px;
    font-size: 20px;
    font-weight: 400;
}

.card-img-top {
    float: left;
    font-family: 'Quicksand', sans-serif;
}

.logo {
    width: 220px;
    padding-right: 0x
}

.guest_name {
    position: relative;
    width: 120px;
    font-size: 16px;
    padding-right: 0px;
    padding-left: 0px;
}

a {
    text-decoration: none;
    color: purple;
}

.Name {
    position: absolute;
    right: 9px;
}

// .favoritesCounter {
//     position: relative;
//     top: 25px;
//     border-radius: 20px !important;
// }
// .favorites_quantity {
//     position: absolute;
//     color: white;
//     background: red;
//     border-radius: 50%;
//     width: 30px;
//     left: 26px;
//     top: -12px;
//     text-align: center;
//     font-weight: 600;
//     font-size: 15px;
// }
// .p3 {
//     font-size: 28px;
//     color: red;
// }