<div class="wells">
    <div class="upper_fotter">
        <div class="row">
            <div class="col-xs-4 col-lg-6 logo">
                <a class="app_logo" routerLink='/movies'>
                    <img src="assets/images/24806.png" class="card-img-top" alt="" style="width: 90px; height: 35px;">CINEMA
                </a>
            </div>

            <div class="col-xs-8 col-lg-6 guest_name">Welcome Guest
            </div>
        </div>
    </div>

    <div class="down_fotter">

    </div>
</div>