<div class="wells">
    <div class="upper_fotter">
        <div class="row">
            <div class="col-xs-4 col-lg-6 logo">
                <a class="app_logo" routerLink='/movies'>
                    <img src="assets/images/favicon.png" class="card-img-top" alt="" style="width: 45px; height: 35px;margin-right: 3px;"><i>CINEMApicker</i>
                </a>
            </div>
            <div class="col-xs-8 col-lg-6 guest_name">
                <p class="Name">Welcome Guest</p>
            </div>
        </div>
    </div>

    <div class="down_fotter">

    </div>
</div>