.btn {
    border-radius: 20px !important;
}

.btn-primary {
    background-color: #005aba;
}

.add_edit_modal-header {
    background-color: rgb(17, 121, 240);
    background-image: linear-gradient(#0f4381, #1d73f5);
    color: white;
}